# LPM
on property:ro.bootmode=charger
    mount ext4 /dev/block/platform/mtk-msdc.0/mmcblk0p6 /system wait ro

service charger /charger
    class charger
    critical
    seclabel u:r:healthd:s0

on charger
    # Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
